<form action="/translate" method="POST">
    <h2>Can you translate?</h2>
    <div class="container quest-word">
        {{#if randomWord}}
        <span>{{randomWord.origin}}</span>
        {{else}}
        <span>Words not found =(</span>
        {{/if}}
    </div>

    <div class="input-field">
        <input type="text" name="tryTranslate" autocomplete="off">
        <label>Your translate</label>
    </div>

    <button type="submit" class="btn">Try</button>
    <div class="correct">Correct: <span class="rCount">{{isCorrect}}</span></div>
    <div class="wrong">Wrong: <span class="wCount">{{isWrong}}</span></div>
</form>

<form action="/reset" method="post">
        <button type="submit" class="btn reset-btn">Reset</button>
</form>
<div class="wordsLeft">Words left: {{wordsLeft}}</div>
{{!-- <div class="score">Congratulations!!! Your score: {{isCorrect}}</div> --}}
